$white: hsl(0, 0%, 98%);
$medium-gray: hsl(0, 0%, 41%);
$almost-black: hsl(0, 0%, 8%);
$ff-epilogue: 'Epilogue', sans-serif;

// ## Typography

// ### Body Copy

// - Font size (paragraph): 18px

// ### Font

// - Family: [Epilogue](https://fonts.google.com/specimen/Epilogue)
// - Weights: 500, 700
