<header class="header">
  <nav class="nav flex">
    <div class="nav-brand-container">
      <img src="./images/logo.svg" alt="A Brand Logo">
    </div>
    <ul class="list list-inline">
      <li class="list__item list__item-container">
        <button class="btn btn-nav btn-arrow">Features</button>
        <ul class="list list-menu">
          <li class="list__item">
            <img src="./images/icon-todo.svg" alt="Calendar">
            <a href="#" class="btn btn-icon btn-icon-calendar">Todo List</a>
          </li>
          <li class="list__item">
            <img src="./images/icon-calendar.svg" alt="Calendar">
            <a href="#" class="btn btn-icon btn-icon-calendar">Calendar</a>
          </li>
          <li class="list__item">
            <img src="./images/icon-reminders.svg" alt="Calendar">
            <a href="#" class="btn btn-icon btn-icon-calendar">Reminders</a>
          </li>
          <li class="list__item">
            <img src="./images/icon-planning.svg" alt="Calendar">
            <a href="#" class="btn btn-icon btn-icon-calendar">Planning</a>
          </li>
        </ul>
      </li>
      <li class="list__item list__item-container">
        <button class="btn btn-nav btn-arrow btn-arrow-active">Company</button>
        <ul class="list list-menu">
          <li class="list__item">
            <a href="#" class="btn btn-icon btn-icon-calendar">History</a>
          </li>
          <li class="list__item">
            <a href="#" class="btn btn-icon btn-icon-calendar">Our Team</a>
          </li>
          <li class="list__item">
            <a href="#" class="btn btn-icon btn-icon-calendar">Blog</a>
          </li>
        </ul>
      </li>
      <li class="list__item">
        <button class="btn btn-nav">Careers</button>
      </li>
      <li class="list__item">
        <button class="btn btn-nav">About</button>
      </li>
    </ul>
    <div class="nav-buttons flex">
      <button class="btn btn-burger">
        <img src="./images/icon-menu.svg" alt="Menu">
      </button>
      <button class="btn btn-block btn-lg">Login</button>
      <button class="btn btn-block btn-outline btn-lg">Register</button>
    </div>
  </nav>
</header>