<ul class="list list-inline">
    <li class="list__item">
      <button class="btn btn-nav btn-arrow btn-arrow-active">Features</button>
    </li>
    <li class="list__item">
      <button class="btn btn-nav btn-arrow">Features</button>
    </li>
    <li class="list__item">
      <button class="btn btn-nav btn-arrow">Features</button>
    </li>
    <li class="list__item">
      <button class="btn btn-nav btn-arrow">Features</button>
    </li>
  </ul>

  <ul class="list list-menu">
    <li class="list__item">
      <img src="./../images/icon-calendar.svg" alt="Calendar">
      <a href="#" class="btn btn-icon btn-icon-calendar">Todo List</a>
    </li>
    <li class="list__item">
      <img src="./../images/icon-calendar.svg" alt="Calendar">
      <a href="#" class="btn btn-icon btn-icon-calendar">Todo List</a>
    </li>
    <li class="list__item">
      <img src="./../images/icon-calendar.svg" alt="Calendar">
      <a href="#" class="btn btn-icon btn-icon-calendar">Todo List</a>
    </li>
    <li class="list__item">
      <img src="./../images/icon-calendar.svg" alt="Calendar">
      <a href="#" class="btn btn-icon btn-icon-calendar">Todo List</a>
    </li>
  </ul>